input[type="checkbox"],
input[type="radio"] {
    all: revert;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: #F2F2F2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #F2F2F2;
}

 input,
 textarea,
 select {
    all: revert;
 }

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a, button {
    cursor: revert;
}

ol, ul, menu {
    list-style: none;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

table {
    border-collapse: collapse;
}

input, textarea {
    -webkit-user-select: auto;
}

textarea {
    white-space: revert;
}
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

pre {
    all: revert;
}

::placeholder {
    color: unset;
}

::marker {
    content: "";
}

:where([hidden]) {
    display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

:where([draggable="true"]) {
    -webkit-user-drag: element;
}

:where(dialog:modal) {
    all: revert;
}

html{
	font-family:Caveat ;
	margin: 0;
	width: 100%;
	padding: 0;
	color: white;
}

@font-face{
	font-family: "Caveat";
	src: url(FONTS/Caveat/Caveat-Regular.ttf);
}

@font-face{
	font-family: "Passions";
	src: url(FONTS/Passions_Conflict/PassionsConflict-Regular.ttf);
}

.PrincipalInfo{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #0D0D0D;
	flex: 1 1 auto;
}

.PrincipalInfo nav{
	height: auto;
	justify-content: space-between;
	display: flex;
	width: 100%;
	margin-top: 5px;
}

.PrincipalInfo  div{
	color: #D9D9D9;
	font-weight: 600;
	cursor: pointer;
	text-align: center;
	margin: 5px 20px 0px 20px;
	width:auto;
	height: 20px;
	transition: 0.2s;
}

.PrincipalInfo  div:hover{
	color:white;
	transition: 0.2s;
}

.PrincipalInfo header{
	display: ;
	height: 300px;
	width: 100%;
	margin-top: 90px;
	padding: 0;
}

@media(max-width:990px){
	.PrincipalInfo header{
		margin-top: 0px;
	}
}


@media(max-width:376px){
	.PrincipalInfo header{
		margin-top: 30px;
	}
}

@media(max-width:281px){
	.PrincipalInfo header{
		margin-top: 10px;
	}
	.PrincipalInfo h1{
		font-size: 24px;
	}
}

.PrincipalInfo h1 ,p {
	margin: 1px auto;
	display: flex;
	width: 90%;
	height: auto;
	text-align: center;
	padding: 20px 5px;
	justify-content: center;
	flex: 1 1 auto;
}

h1{
	font-size: 30px;
}

.PrincipalInfo p{
	font-size: 20px;
}

.SubmitInfo{
	display: flex;
	width: 100%;
	height: 150px;
	max-width: 400px;
	margin: 0px auto;
	flex-direction: column;
	place-items: center;
	flex-wrap: wrap;
	justify-content: center;
	flex: 1 1 auto;
}

@media(max-width:281px){
	.SubmitInfo {
		height: 70px;
	}
}

.SubmitInfo > div{
	margin: 10px 0px;

}


.SubmitInfo div input[type="email"] {
	background-color: #BFBFBF ;
	font-family: Arial;
	padding: 5px;
	border-radius: 10px;
	border: none;
	transition: 0.2s;
	width: 150px;
	text-align: center;
	cursor: pointer;
}


.SubmitInfo div input:hover[type="email"] {
	background-color: #F2F2F2;
	transition: 0.2s;
	color: black;
	transform: scale(1.01);
}

.SubmitInfo div input[type="submit"] {
	background-color: #BFBFBF ;
	font-family: Arial;
	padding: 5px;
	border-radius: 20px;
	border: none;
	transition: 0.2s;
	width: 100px;
	cursor: pointer;
}

.SubmitInfo div input:hover[type="submit"] {
	background-color: #F2F2F2;
	transition: 0.2s;
	color: black;
	transform: scale(1.04);
}

.SecondInfo{
	position: absolute;
	top: 100%;
	width: 100%;
	height:auto;
	background-color: #0D0D0D;
	display: flex;
	justify-content: space-between;
	flex: 1 1 auto;
}

.Child{
	width: auto;
	height: auto;
	flex: 1 1 auto;
}

.Child img{
	width: 100%;
	margin: 0px auto;
}


@media(max-width:913px){
	.SecondInfo{

		width: 100%;
		flex-direction: column;
	}
	.Child{

		margin: 1px auto;
		width: 43%;
	}
}

.FooterDIV{
	width: 100%;
	height:200px;
	background-color: #0D0D0D;
	display: flex;
	flex: 1 1 auto;
}

.FooterDIV footer p{
	width: 100%;
	height:200px;
	background-color: red;
	display: flex;
	flex: 1 1 auto;
}